

/*! ===== main content ===== */

/*! ===== carousel_new ===== */
.carousel_new {
  .owl-nav {
    position: absolute;
    left: 120px;
    bottom: 10px;
    text-align: center;
  }

  .owl-prev,
  .owl-next {
    position: static;
    display: inline-block;
    top: auto;
    transform: none;
  }

  .owl-prev {
    left: auto;
  }

  .owl-next {
    right: auto;
    margin-left: 60px;
  }

}
.carousel_new, .carousel_videos {
  height: 500px;
  background-color: $powder;

  .owl-carousel .owl-stage {

  }

  .carousel__item {
    height: 550px;
  }

  .carousel__item-inner {
    padding-bottom: 50px;
  }

  .carousel__item-left {
    float: left;
    width: 30%;
    padding: 150px 45px 0 15px;
  }

  .carousel__item-title {
    position: relative;
    padding: 60px 80px 30px 40px;
    background: url(../img/bg-title_black.png) 0 0 no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    text-transform: uppercase;
    line-height: 1.5rem;
  }

  .carousel__item-mark {
    position: absolute;
    top: -40px;
    left: 45px;
    padding: 0 15px;
    text-transform: capitalize;
  }

  .carousel__item-text {
    margin-top: 10px;
    font-size: 13px;
    color: $grey;
    font-style: italic;
    line-height: 1rem;
  }

  .carousel__item-right {
    float: right;
    width: 70%;
    padding: 0 15px;
  }

  .carousel__item-img-holder {
    position: relative;
    top: 50px;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }

  .carousel__item-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


/*! ===== carousel_new ===== */
.carousel_category {
  margin-top: 140px;
  height: 550px;

  .owl-nav {
    position: relative;
    margin-top: 30px;
    text-align: center;
  }

  .owl-prev,
  .owl-next {
    position: static;
    display: inline-block;
    top: auto;
    transform: none;
  }

  .owl-prev {
    left: auto;
  }

  .owl-next {
    right: auto;
    margin-left: 60px;
  }

  .carousel__item {
    position: relative;
    height: 490px;
    padding: 0 15px;
  }

  .carousel__item-img-holder {
    position: relative;
    height: 460px;
  }

  .carousel__item-img {
    @include center-translate();
  }

  .carousel__item-title {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 214px;
    min-height: 60px;
    background-color: #fae8da;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;

    span {
      @include center-translate();
    }
  }
}

/*! ===== carousel_new ===== */
.carousel_videos {
  margin-top: 40px;
  height: auto;
  background: #004322 url(../img/bg_green.jpg) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;

  .carousel__item {
    padding: 40px 0;
  }

  .carousel__item-left {
    width: 70%;
    padding: 0 10px;
  }

  .carousel__item-right {
    width: 30%;
    padding: 135px 0 0 60px;
  }

  .carousel__item-video-holder {
    @include aspect-ratio(16, 9);
  }

  .carousel__item-video {

  }

  .carousel__item-mark {
    background: none;
    color: #fff;
  }
  
  .carousel__item-text {
    color: #fff;
  }
  
  .carousel__item-title {
    color: #fff;
    border-color: #fff;
    padding-right: 70px;
    border: none;
    background: url(../img/bg-title-holder.png) 0 0 no-repeat;
  }
}



/*! ===== carousel_products_new ===== */
.carousel-products {
  margin-top: 40px;

  .owl-carousel {
    margin-top: 15px;
  }

  .owl-nav {
    position: relative;
    margin-top: 30px;
    text-align: center;
  }

  .owl-prev,
  .owl-next {
    position: static;
    display: inline-block;
    top: auto;
    transform: none;
  }

  .owl-prev {
    left: auto;
  }

  .owl-next {
    right: auto;
    margin-left: 60px;
  }

  .carousel__item {

    &:nth-of-type(1) {
      padding-left: 15px;
    }
  }

  .carousel__item-desc {
    text-align: center;
  }

  .carousel__item-title {
    margin-top: 10px;
  }

  .carousel__item-price {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;

    span {
      margin-left: 5px;
      font-weight: normal;
      font-size: 16px;
    }
  }

  .carousel__item-button {
    width: 100px;
    height: 30px;
    margin: 10px 0 0 20px;
    background-color: $powder;
    border: none;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    
    &:hover {
      cursor: pointer;
      background-color: darken($powder, 10%);
    }
  }

}


/*! ===== main-news ===== */
.main-news {
  position: relative;
  margin-top: 50px;
  padding-bottom: 65px;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: $powder;
    z-index: -1;
  }

  ._container {
    padding: 0;
  }
}


/*! ===== main-about ===== */
.main-about {
  padding-bottom: 10px;
}

.main-about__topline {
  height: 200px;
  background: url(../img/bg_about-line.jpg) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.main-about__title {
  margin-top: 65px;
}

.main-about__text {
  margin-top: 25px;
  font-size: 14px;
  line-height: 1.2rem;
  color: #5b5d61;

  p {
    margin-top: 10px;
  }
}

