meta(charset='utf-8')
title Title
meta(name='author' content='')
meta(name='description' content='')
meta(name='keywords' content='')
meta(name='viewport' content='width=device-width, initial-scale=1')
meta(http-equiv='x-ua-compatible' content='ie=edge')

// Start of Social Graph Protocol Meta Data 
//- meta(property="og:type" content="website")
//- meta(property="og:title" content="")
//- meta(property="og:site_name" content="")
//- meta(property="og:url" content="http://.../")
//- meta(property="og:image" content="http://.../banner_og.jpg")
//- meta(property="og:image:width" content="")
//- meta(property="og:image:height" content="")
//- meta(property="og:description" content="")
    
//- meta(name="twitter:title" content="")
//- meta(name="twitter:description" content="")
//- meta(name="twitter:image" content="http://.../banner_og.jpg")
// End of Social Graph Protocol Meta Data 

// Favicons 
link(rel="icon" type="image/png" href="img/favicon/favicon16x16.png" sizes="16x16")
link(rel="icon" type="image/png" href="img/favicon/favicon32x32.png" sizes="32x32")
link(rel="icon" type="image/png" href="img/favicon/favicon96x96.png" sizes="96x96")

// Styles 
link(rel="stylesheet" href="css/vendor/normalize.css")
link(rel="stylesheet" href="css/vendor/font-awesome.min.css")
link(rel="stylesheet" href="css/vendor/owl.carousel.min.css")
link(rel="stylesheet" href="css/main.css")

// Scripts defer 
script(src="js/vendor/jquery.min.js" defer)
script(src="js/vendor/owl.carousel.min.js" defer)
script(src="js/main.js" defer)

// html5shiv
<!--[if lt IE 9]>
script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
<![endif]-->

// Facebook Pixel Code 
//script.
//noscript
// DO NOT MODIFY 
// End Facebook Pixel Code 