// ====== footer ======= 
footer.footer
	|Sticky Footer of frontend template

// ====== scripts ======= 
// Start Google analytics 
//script.
// End Google analytics 

// Yandex.Metrika counter 
//script(type="text/javascript").
//noscript
// /Yandex.Metrika counter 