extends ../main

block vars
	-
		var body_class = "news-page"
		var breadcrumbs = [
												{
													title: "Главная",
													link: "/"
												},
												{
													title: "Новости",
													link: "news.html"
												},
												{
													title: "22 Идеи как носить брошь"
												}
											]

block content
	// ====== main content =======
	main.main

		// ====== news-single =======
		.news-single
			._container

				.news-single__img-holder
					img.news-single__img(src="img/news/news-1.jpg" alt="news")

				.news-single__content
					.news-single__date 22 января 2017
					.news-single__title 22 Идеи как носить брошь
					.news-single__text
						p Броши не теряют своей популярности с давних времен. Такой аксессуар можно носить с одеждой разного стиля, придавая женскому образу элегантность и шарм. Мировые звезды надевают этот малозаметный предмет, украшая им наряды для красной дорожки.
						p При этом, неправильно подобранная деталь на одежде способна испортить весь имидж. Чтобы выглядеть уместно, прочитайте советы ниже, как сочетать украшение с нарядом.
						p Лучше отказаться от аксессуара, если в образе уже есть другая бижутерия.
						p Особую изюминку украшение прибавит строгому офисному наряду.
						p Платье с вышитыми элементами или жакет из пайеток не подходят для того, чтобы сочетать их с брошкой.
						p Брошь подойдет женщине любого возраста и комплекции, но стоит обратить особое внимание на форму украшения. К примеру, девушкам плотного телосложения лучше приобретать этот предмет бижутерии с плавными округлыми линиями.
						p Украшение крепится к области, которую хотят выделить. Если его надеть возле шеи, то люди начнут всматриваться в лицо, а в зоне декольте оно привлечет взгляды на бюст.
						p Брошь должна выделяться и не сливаться с цветом наряда, иначе ее никто не заметит.

						p Раньше аксессуар носился по строгим правилам только в некоторых местах: большие – на отвороте пиджака, средние – на платье с левой стороны, на 10 см ниже плеча. Современный мир уже не так консервативен и не возникает вопрос, с какой стороны носят брошь.
						p Сейчас ее можно надеть практически на любую часть наряда.
						p На платье в виде халата, рубашки или с вырезом «лодочка» украшение крепится в левой нижней части плеча. Если аксессуар заколоть снизу глубокого декольте, то выделится зона бюста, а на платье с ассиметричными линиями лучше прикрепить на закрытой стороне. В сарафане он крепится посередине лифа. Пояс с брошкой прекрасно подчеркнет красивые изгибы и стройность фигуры.
						p На рубашке или блузе украшение можно носить как на платье, так и в более модном варианте – под воротом одежды, застегнутой на все пуговицы. Выглядит словно ожерелье, но нужно подбирать аксессуар с камня или в винтажном стиле. На блузах с легкого материала модели прикалываются немного выше угла рубашки.
						p Брошь камея отлично подойдет, но она должна быть среднего размера и в стиле одежды. Дизайнеры позаботились об этом, создав украшение для воротника в виде двух уголков, которые соединяются цепочкой.
						p Многие предпочитают носить брошь на пиджаке, особенно на лацкане. При выборе утонченного предмета необходимо подумать о пропорциях. Чем шире отворот, тем больше аксессуар. Также недопустимо, если он оттягивает ткань пиджака. Некоторые стилисты прибегают к одной хитрости, когда используют две одинаковые брошки на обоих лацканах, чтобы визуально увеличить грудь.
						p Для пальто с меховым воротом лучше подойдет украшение с камнями. При покупке аксессуара лучше выбирать материал, на который не воздействуют перепады температуры и погодные условия. Верхняя одежда отлично выглядит с крупными моделями классического стиля. С джемпером или джинсовой курткой рекомендуется применять брошь-цветок, сделанный из бисера.

				// ====== same-news =======
				.news.same-news
					._container

						.title.main-news__title Похожие новости

						ul.news__list
							li.news__item
								a.news__link(href="/news-item.html" title="")
									.news__img-holder
										img.news__img(src="img/news/news-1.jpg" alt="news")
									.news__date 22 января 2017
									.news__title Примеры удачного компонования предметов в единую композицию
									.news__excerpt Мы намерены раскрыть для вас секрет удачного декоративного оформления любой поверхности в комнате, будь-то полка стеллажа, столешница консоли, комода или журнального столика.

							li.news__item
								a.news__link(href="/news-item.html" title="")
									.news__img-holder
										img.news__img(src="img/news/news-2.jpg" alt="news")
									.news__date 22 января 2017
									.news__title Примеры удачного компонования предметов в единую композицию
									.news__excerpt Мы намерены раскрыть для вас секрет удачного декоративного оформления любой поверхности в комнате, будь-то полка стеллажа, столешница консоли, комода или журнального столика.

						a.button.news__button(type="button") еще новости
