extends ../main

block vars
	-
		var body_class = "news-page"
		var page_title = "Новости"

block content
	// ====== main content =======
	main.main

		// ====== breadcrumbs =======
		.breadcrumbs
			._container
				ul.breadcrumbs__list
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#") Главная
					li.breadcrumbs__item
						span.breadcrumbs__link.breadcrumbs__link_active= page_title

		// ====== main-news =======
		.news
			._container

				.title.main-news__title Новости

				ul.news__list
					li.news__item
						a.news__link(href="#" title="")
							.news__img-holder
								img.news__img(src="img/news/news-1.jpg" alt="news")
							.news__date 22 января 2017
							.news__title Примеры удачного компонования предметов в единую композицию
							.news__excerpt Мы намерены раскрыть для вас секрет удачного декоративного оформления любой поверхности в комнате, будь-то полка стеллажа, столешница консоли, комода или журнального столика.

					li.news__item
						a.news__link(href="#" title="")
							.news__img-holder
								img.news__img(src="img/news/news-2.jpg" alt="news")
							.news__date 22 января 2017
							.news__title Примеры удачного компонования предметов в единую композицию
							.news__excerpt Мы намерены раскрыть для вас секрет удачного декоративного оформления любой поверхности в комнате, будь-то полка стеллажа, столешница консоли, комода или журнального столика.

					li.news__item
						a.news__link(href="#" title="")
							.news__img-holder
								img.news__img(src="img/news/news-2.jpg" alt="news")
							.news__date 22 января 2017
							.news__title Примеры удачного компонования предметов в единую композицию
							.news__excerpt Мы намерены раскрыть для вас секрет удачного декоративного оформления любой поверхности в комнате, будь-то полка стеллажа, столешница консоли, комода или журнального столика.

					li.news__item
						a.news__link(href="#" title="")
							.news__img-holder
								img.news__img(src="img/news/news-2.jpg" alt="news")
							.news__date 22 января 2017
							.news__title Примеры удачного компонования предметов в единую композицию
							.news__excerpt Мы намерены раскрыть для вас секрет удачного декоративного оформления любой поверхности в комнате, будь-то полка стеллажа, столешница консоли, комода или журнального столика.

					li.news__item
						a.news__link(href="#" title="")
							.news__img-holder
								img.news__img(src="img/news/news-2.jpg" alt="news")
							.news__date 22 января 2017
							.news__title Примеры удачного компонования предметов в единую композицию
							.news__excerpt Мы намерены раскрыть для вас секрет удачного декоративного оформления любой поверхности в комнате, будь-то полка стеллажа, столешница консоли, комода или журнального столика.

					li.news__item
						a.news__link(href="#" title="")
							.news__img-holder
								img.news__img(src="img/news/news-2.jpg" alt="news")
							.news__date 22 января 2017
							.news__title Примеры удачного компонования предметов в единую композицию
							.news__excerpt Мы намерены раскрыть для вас секрет удачного декоративного оформления любой поверхности в комнате, будь-то полка стеллажа, столешница консоли, комода или журнального столика.

					li.news__item
						a.news__link(href="#" title="")
							.news__img-holder
								img.news__img(src="img/news/news-2.jpg" alt="news")
							.news__date 22 января 2017
							.news__title Примеры удачного компонования предметов в единую композицию
							.news__excerpt Мы намерены раскрыть для вас секрет удачного декоративного оформления любой поверхности в комнате, будь-то полка стеллажа, столешница консоли, комода или журнального столика.

					li.news__item
						a.news__link(href="#" title="")
							.news__img-holder
								img.news__img(src="img/news/news-2.jpg" alt="news")
							.news__date 22 января 2017
							.news__title Примеры удачного компонования предметов в единую композицию
							.news__excerpt Мы намерены раскрыть для вас секрет удачного декоративного оформления любой поверхности в комнате, будь-то полка стеллажа, столешница консоли, комода или журнального столика.

				a.button.news__button(type="button") еще новости
