extends ../main

block vars
	-
		var body_class = "news-page"
		var breadcrumbs = [
												{
													title: "Главная",
													link: "/"
												},
												{
													title: "Новости"
												}
											]

block content
	// ====== main content =======
	main.main

		// ====== news =======
		.news
			._container

				.title.main-news__title Новости

				ul.news__list
					li.news__item
						a.news__link(href="/news-single.html" title="")
							.news__img-holder
								img.news__img(src="img/news/news-1.jpg" alt="news")
							.news__date 22 января 2017
							.news__title Примеры удачного компонования предметов в единую композицию
							.news__excerpt Мы намерены раскрыть для вас секрет удачного декоративного оформления любой поверхности в комнате, будь-то полка стеллажа, столешница консоли, комода или журнального столика.

					li.news__item
						a.news__link(href="/news-single.html" title="")
							.news__img-holder
								img.news__img(src="img/news/news-2.jpg" alt="news")
							.news__date 22 января 2017
							.news__title Примеры удачного компонования предметов в единую композицию
							.news__excerpt Мы намерены раскрыть для вас секрет удачного декоративного оформления любой поверхности в комнате, будь-то полка стеллажа, столешница консоли, комода или журнального столика.

					li.news__item
						a.news__link(href="/news-single.html" title="")
							.news__img-holder
								img.news__img(src="img/news/news-2.jpg" alt="news")
							.news__date 22 января 2017
							.news__title Примеры удачного компонования предметов в единую композицию
							.news__excerpt Мы намерены раскрыть для вас секрет удачного декоративного оформления любой поверхности в комнате, будь-то полка стеллажа, столешница консоли, комода или журнального столика.

					li.news__item
						a.news__link(href="/news-single.html" title="")
							.news__img-holder
								img.news__img(src="img/news/news-2.jpg" alt="news")
							.news__date 22 января 2017
							.news__title Примеры удачного компонования предметов в единую композицию
							.news__excerpt Мы намерены раскрыть для вас секрет удачного декоративного оформления любой поверхности в комнате, будь-то полка стеллажа, столешница консоли, комода или журнального столика.

					li.news__item
						a.news__link(href="/news-single.html" title="")
							.news__img-holder
								img.news__img(src="img/news/news-2.jpg" alt="news")
							.news__date 22 января 2017
							.news__title Примеры удачного компонования предметов в единую композицию
							.news__excerpt Мы намерены раскрыть для вас секрет удачного декоративного оформления любой поверхности в комнате, будь-то полка стеллажа, столешница консоли, комода или журнального столика.

					li.news__item
						a.news__link(href="/news-single.html" title="")
							.news__img-holder
								img.news__img(src="img/news/news-2.jpg" alt="news")
							.news__date 22 января 2017
							.news__title Примеры удачного компонования предметов в единую композицию
							.news__excerpt Мы намерены раскрыть для вас секрет удачного декоративного оформления любой поверхности в комнате, будь-то полка стеллажа, столешница консоли, комода или журнального столика.

					li.news__item
						a.news__link(href="/news-single.html" title="")
							.news__img-holder
								img.news__img(src="img/news/news-2.jpg" alt="news")
							.news__date 22 января 2017
							.news__title Примеры удачного компонования предметов в единую композицию
							.news__excerpt Мы намерены раскрыть для вас секрет удачного декоративного оформления любой поверхности в комнате, будь-то полка стеллажа, столешница консоли, комода или журнального столика.

					li.news__item
						a.news__link(href="/news-single.html" title="")
							.news__img-holder
								img.news__img(src="img/news/news-2.jpg" alt="news")
							.news__date 22 января 2017
							.news__title Примеры удачного компонования предметов в единую композицию
							.news__excerpt Мы намерены раскрыть для вас секрет удачного декоративного оформления любой поверхности в комнате, будь-то полка стеллажа, столешница консоли, комода или журнального столика.

				a.button.news__button(type="button") еще новости
