/*! ===== General styles ===== */

@include font-face('FontAwesome', '../fonts');
@include font-face('Lobster', '../fonts');
@include font-face('Chickpeas', '../fonts');
@include font-face('ArtNouveau-Cafe', '../fonts');

$container-width: 1284px;
$body-color: #fff;
$body-font: Arial, Helvetica, sans-serif;
$body-font-color: #000;

$powder: #fae8da;
$grey: #5b5d61;
$violet: #49436b;

$FontAwesome: "FontAwesome";
$Lobster: "Lobster", Arial, Helvetica, sans-serif;
$Chickpeas: "Chickpeas", Arial, Helvetica, sans-serif;
$ArtNouveau-Cafe: "ArtNouveau-Cafe", Arial, Helvetica, sans-serif;

*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  width: $container-width;
  margin: auto;
  font-family: $body-font;
  font-size: 100%;
  color: $body-font-color;
  background-color: $body-color;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*! --- Preload images --- */
// body:before {
//   content: '';
//   background:
//     url(../img/clients/kaspersky_color.jpg),
// }

a {
  display: inline-block;
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: none;
    cursor: pointer;
  }
}


img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

input:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

._container {
  max-width: $container-width;
  margin: 0 auto;
}

._row {
  @include clearfix();  
}


/*! --- icons --- */
.icon {
  display: inline-block;
  background-image: url(../img/spriteIcons.png);
  vertical-align: middle;
}

@include icons($icons-sprites);
/*! --- END icons --- */


/*! --- standart buttons --- */
.button {
  display: inline-block;
  border: none;
  margin-top: 15px;
  background-color: $powder;
  border: none;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    cursor: pointer;
    background-color: darken($powder, 10%);
  }
}

/*! --- standart title --- */
.title {
  font: 60px $Chickpeas;
  color: #383838;
  text-align: center;
}

/*! --- input-holder --- */
.input-holder {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    border: 1px solid #d0c1c1;
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: -1;
  }

  input {
    border: none;
    background: none;
  }
}

/*! --- owl-carousel --- */

.owl-carousel {

}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.owl-prev {
  left: -5%;

  @include media(500) {
    left: -9%;
  }
}

.owl-next {
  right: -5%;

  @include media(500) {
    right: -9%;
  }
}

.owl-next .owl-nav_arrow {
  // transform: rotate(180deg);
}

.owl-nav_arrow {
  // width: 28px;
  // height: 46px;
}

/*! --- google-map --- */
.google-map {
  position: relative;
}

.google-map__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


/*! --- breadcrumbs --- */
.breadcrumbs {
  margin-top: 35px;
}

.breadcrumbs__list {
  font-size: 0;
}

.breadcrumbs__item {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  font-size: 12px;

  &:not(:nth-of-type(1)) {
    &:before {
      content: '\2192';
      position: absolute;
      left: -20px;
      top: 35%;
      transform: translateY(-50%);
    }
  }
}

.breadcrumbs__link {
  color: $grey;

  &_active {
    color: #94683e;
  }
}


