doctype html
html(lang="ru-RU")

	block vars

	head
		include section/_head
		include common/mixins
	body(class= body_class)

		._container

			include section/header

		block content

		include section/footer